.logo-img {
  max-width: 60px; 
  height: auto;
}

.button {
  background: #FFB86B;
}

.hhh {
  height: 100vh;
}
.hidesb::-webkit-scrollbar{
  display: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon{
  width:40px;
  height: 30px;
  background-color:white;
  color: black;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
  opacity: 0.6;
}

.icon:hover{
  opacity: .8;
}
.unlock{
  color:black;
  font-weight:500;
  opacity: 0.6;
  border: none;
  border-radius: 5px;
  padding: auto;
  font-size: 15px;
}
.unlock:hover{
  opacity: .8;
}

.mybtn{
  color:white;
  background-color: #FFB86B;
  font-size: 18;
  font-weight:600;
  width: 150px;
  padding: 4px;
  border: navy;
  border-radius: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}



/* Animate the left image */
.img-left {
  animation: slideFromLeft 1s ease-in-out;
  opacity: 1; 
}

/* Animate the right image */
.img-right {
  animation: slideFromRight 1s ease-in-out;
  opacity: 1; 
}

@keyframes slideFromLeft {
  0% {
    transform: translateY(-100%);
    opacity: 0; 
  }
  100% {
    transform: translateY(0);
    opacity: 1; 
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateY(100%);
    opacity: 0; 
  }
  100% {
    transform: translateY(0);
    opacity: 1; 
  }
}
